body{
	background: #DCDCDC;
}




h1 {
		font-family: 'Playfair Display', "Book Antiqua", serif;
		color: #E32636;
		font-size: 35px;
		text-align: center;

	}
.title	{
	color: #5DADEC;
	font-family: 'Playfair Display', serif;
	text-align: center;
}
p	{
	color: 	black;
	font-family: 'Playfair Display', serif;
}

#css	{
	font-family: cursive;
}

.caption{
	opacity: 0.5;
	background-color: white;
	color: black;
}
